________________________________________________________________________________________________________________________
- workshop , arranged 10th jan 2022 to 14th jan 2022, online..

- Contact: 9975707273   Gmail: aistatics.info@gmail.com

- Exercise: day1st

_ _________________________________________________________________________________________________________________________
_  _________________________________________________________________________________________________________________________

In [15]:
import numpy as mp
np.random.randint(17021,17083)

17038

#### Print your  name using print function

X Y Z

#### Write True or False

#After sentense write variable declaration whether it is true or False
example:  abc=[1,2,4]     # True

abs=3
1__a=[123]
a__1=[123]
__a=["1111"]
kjklkj2=(1,2,3)
xyz@=55
x1234t5678990989898=[1,2,3]
1233=44
@abs={1,2,3}
pune=pune
pune=44
pune123=44
123pune=44
1_@pune=44
pune@123=44
pune______12345=["pune"]
____pune=["123"]
a_1_b_2=abc

#### Difference between = and == (in Two lines)

#### What is difference between list and tuple (in Two lines)

In [2]:
#reason of error

NameError: name 'Print' is not defined

#### Use Arithematic Operation for a and b, when a= 5,b=-5

0

10

-1.0

-25

#### Use Logical Operation for a and m=10,n=9

In [8]:
#greater than

In [9]:
#less than

In [10]:
#not Equal to

In [11]:
#Equal to

#### Write code

In [12]:
L=[23,501,"Pune",(1,2,3),2.1,["Python"+"program"]]
L

[23, 501, 'Pune', (1, 2, 3), 2.1, ['Pythonprogram']]

'Pythonprogram'

501

['Pune', (1, 2, 3), 2.1]

[23, 501, 'Baramati', (1, 2, 3), 2.1, ['Pythonprogram']]

[23, 501, 'Baramati', (1, 2, 3), 2.1, ['Pythonprogram'], 'TCC']

[23, 501, 'Baramati', 2.1, ['Pythonprogram'], 'TCC']

[23, 501, (1, 2, 3), 'Baramati', 2.1, ['Pythonprogram'], 'TCC']

[]

NameError: name 'L' is not defined

In [23]:
t=(1,9,4,6,2)   #tuple

(4, 6, 2)

(1, 9, 4)

In [26]:
x = ("a", "b", "c", "d")
x

('a', 'b', 'c', 'd')

bd

#### Convert  x variable  type in  list datatype and  check.

['a', 'b', 'c', 'd']

list

In [30]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Print out second element from areas
print()

# Print out last element from areas
print()

# Print out the area of the living room
print()

# Set and dict

In [31]:
Sample_data={'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
Sample_data

{'item1': 45.5, 'item2': 35, 'item3': 41.3, 'item4': 55, 'item5': 24}

35

dict_keys(['item1', 'item2', 'item3', 'item4', 'item5'])

dict_values([45.5, 35, 41.3, 55, 24])

{'item1': 45.5, 'item2': 35, 'item3': 41.3, 'item4': 100, 'item5': 24}

In [36]:
# Create the d
d = {"hallway": 11.25, "kitchen":18.0, "living room": 20.0, "bedroom": 10.75, "bathroom": 9.50}

In [37]:
# Replace the bathroom area by 10

In [38]:
# Change "living room" to "chill zone"

#### Create Empty set and check type

set

#### Create two sets name of X and Y and apply two methods

#### Create  list name of L1 and apply Five methods

#### Create  tuple name of T1 and apply two methods

#### Create dict name of D1 and apply two methods

#### Write variable declaration norms