## USING BY  WHILE LOOP :

In [1]:
i = 1
while i < 5:
    print(i)
    i += 1

1
2
3
4

In [2]:
Std = [45, 25, 95, 63, 57, 84, 52]
i = 0
while i < len(Std):
    if Std[i] > 35:
        print(Std[i], "pass")
    else:
        print(Std[i], "fail")
    i += 1

45 pass
25 fail
95 pass
63 pass
57 pass
84 pass
52 pass

In [3]:
x = [32, 45, 24, 52, 4, 52, 45]
i = 0
while i < len(x):
    if x[i] > 35:
        print(x[i], "pass")
    else:
        print(x[i], "fail")
    i += 1

32 fail
45 pass
24 fail
52 pass
4 fail
52 pass
45 pass

In [4]:
l = ["askhay", "nikhil", "viky", "sourabh", "Abhi"]
Subject = ["maths", "phy", "chem"]
i = 0
while i < len(l):
    j = 0
    while j < len(Subject):
        print("my name is " + l[i] + ", my subject is " + Subject[j])
        j += 1
    i += 1

my name is askhay, my subject is maths
my name is askhay, my subject is phy
my name is askhay, my subject is chem
my name is nikhil, my subject is maths
my name is nikhil, my subject is phy
my name is nikhil, my subject is chem
my name is viky, my subject is maths
my name is viky, my subject is phy
my name is viky, my subject is chem
my name is sourabh, my subject is maths
my name is sourabh, my subject is phy
my name is sourabh, my subject is chem
my name is Abhi, my subject is maths
my name is Abhi, my subject is phy
my name is Abhi, my subject is chem

In [5]:
i = 0
while i < 5:
    print("Pune")
    i += 1

Pune
Pune
Pune
Pune
Pune

In [6]:
def only_even(a):
    x = []
    i = 0
    while i < a:
        if i % 2 == 1:
            i += 1
            continue
        x.append(i)
        i += 1
    print(x)

only_even(18)

[0, 2, 4, 6, 8, 10, 12, 14, 16]

In [7]:
word = "banana"
i = 0
while i < len(word):
    print(word[i])
    i += 1

b
a
n
a
n
a

In [8]:
numbers = [11, 33, 55, 39, 55, 75, 37, 21, 23, 41, 13]
i = 0
even_found = False

while i < len(numbers):
    if numbers[i] % 2 == 0:
        print('the list contains an even number')
        even_found = True
        break
    i += 1

if not even_found:
    print('the list does not contain an even number')

the list does not contain an even number

In [9]:
n = 1
while n <= 50:
    if n % 2 == 0:
        print(n, "even")
    else:
        print(n, "odd")
    n += 1

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd
16 even
17 odd
18 even
19 odd
20 even
21 odd
22 even
23 odd
24 even
25 odd
26 even
27 odd
28 even
29 odd
30 even
31 odd
32 even
33 odd
34 even
35 odd
36 even
37 odd
38 even
39 odd
40 even
41 odd
42 even
43 odd
44 even
45 odd
46 even
47 odd
48 even
49 odd
50 even

In [10]:
x = 1
while x <= 20:
    s = x ** 2
    print(s)
    x += 1

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [11]:
m = [5, 4, 83, 2, 45, 6]
i = 0
while i < len(m):
    if m[i] > 20:
        print(m[i])
    i += 1

83
45

In [12]:
DATA = "statistics"
i = 0
while i < len(DATA):
    if DATA[i] != "s":
        print(DATA[i])
    i += 1

t
a
t
i
t
i
c

In [13]:
i = 1
while i < 6:
    j = 0
    while j < 6:
        print(i, "+", j, "=", i + j)
        j += 1
    i += 1

1 + 0 = 1
1 + 1 = 2
1 + 2 = 3
1 + 3 = 4
1 + 4 = 5
1 + 5 = 6
2 + 0 = 2
2 + 1 = 3
2 + 2 = 4
2 + 3 = 5
2 + 4 = 6
2 + 5 = 7
3 + 0 = 3
3 + 1 = 4
3 + 2 = 5
3 + 3 = 6
3 + 4 = 7
3 + 5 = 8
4 + 0 = 4
4 + 1 = 5
4 + 2 = 6
4 + 3 = 7
4 + 4 = 8
4 + 5 = 9
5 + 0 = 5
5 + 1 = 6
5 + 2 = 7
5 + 3 = 8
5 + 4 = 9
5 + 5 = 10

In [14]:
my_list = []
i = 1
while i <= 20:
    my_list.append(i)
    i += 1
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [15]:
i = 20
while i <= 40:
    if i % 2 == 1:
        print(i, "=", i ** 3)
    i += 1

21 = 9261
23 = 12167
25 = 15625
27 = 19683
29 = 24389
31 = 29791
33 = 35937
35 = 42875
37 = 50653
39 = 59319

In [16]:
name = ['Monika', 'Priti', 'kirti', 'dhaval', 'Sakshi', 'supriya', 'prashant']
ages = [22, 21, 22, 28, 23, 24, 24]
i = 0

while i < len(name):
    print("my name is", name[i], "my age is", ages[i])
    i += 1

my name is Monika my age is 22
my name is Priti my age is 21
my name is kirti my age is 22
my name is dhaval my age is 28
my name is Sakshi my age is 23
my name is supriya my age is 24
my name is prashant my age is 24

In [17]:
name = ['Monika', 'Priti', 'kirti', 'dhaval', 'Sakshi', 'supriya', 'prsahant']
length = len(name)
i = 0

while i < length // 2:
    name[i], name[length - 1 - i] = name[length - 1 - i], name[i]
    i += 1

print(name)

['prsahant', 'supriya', 'Sakshi', 'dhaval', 'kirti', 'Priti', 'Monika']

In [18]:
s = "statistics"
n = 0
i = 0

while i < len(s):
    n = n + 1
    i += 1

print(n)

10

In [19]:
l = [4, 5, -65, -6, 2, -3, 7]
s = 0
i = 0

while i < len(l):
    if l[i] > 0:
        s = s + l[i]
    i += 1

print(s)

18

In [20]:
n = 7
s = 1
i = 1

while i <= n:
    s = s * i
    i += 1

print(s)

5040